@using DbLocalizationProvider
@using DbLocalizationProvider.AspNetCore
@using DbLocalizationProvider.Core.AspNetSample.Resources
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr/>

<div>
    Html.Translate(SomeHtmlResource) - @Html.Translate(() => SampleResources.SomeHtmlResource)
</div>
<div>
    Html.Translate(SomeEnumProperty) - @Html.Translate(SampleResources.SomeEnumProperty)
</div>
<div>
    Html.Translate(SomeHtmlResource, WeirdAttribute) - @Html.Translate(() => SampleResources.SomeHtmlResource, typeof(WeirdCustomAttribute))
</div>
<div>
    Html.Translate(SomeEnumProperty, WeirdAttribute) - @Html.Translate(() => SampleResources.SomeEnumProperty, typeof(WeirdCustomAttribute))
</div>
<div>
    SampleResources.SomeEnumProperty.Translate() - @SampleResources.SomeEnumProperty.Translate()
</div>

<hr/>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
