@using System.Globalization
@using DbLocalizationProvider
@using DbLocalizationProvider.AspNetCore
@using DbLocalizationProvider.Core.AspNetSample.Models
@using DbLocalizationProvider.Core.AspNetSample.Resources
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model UserViewModel
@inject IViewLocalizer Localizer
@inject LocalizationProvider Provider
@inject IHtmlLocalizer<SampleResources> Localizer2

@{
    ViewData["Title"] = "Home Page";
    var currentCulture = Context.Features.Get<IRequestCultureFeature>()?.RequestCulture?.UICulture;

    var localized = Provider.Translate<SampleResources>();
}

<h2>Current Culture: @currentCulture</h2>

<div>Translate&lt;SampleResources&gt;(PageHeader2) - @localized.PageHeader2</div>
<div>ViewData["TestString"] ("Shared.Yes") = @ViewData["TestString"]</div>
<div>ViewData["TestString2"] = @ViewData["TestString2"]</div>
<div>ViewData["TestString3"] (injected LocalizationProvider) = @ViewData["TestString3"]</div>
<div>ViewData["TestString4"] (IHtmlLocalizer) = @ViewData["TestString4"]</div>
<div>IViewLocalizer.GetString() = @Localizer.GetString(() => SampleResources.PageHeader)</div>
<div>IViewLocalizer["..."] = @Localizer["DbLocalizationProvider.Core.AspNetSample.Resources.SampleResources.PageHeader"]</div>
<div>IHtmlLocalizer&lt;T&gt;.GetString() = @Localizer2.GetString(r => r.PageHeader2)</div>


<div>
    <div>IHtmlLocalizer.WithCulture() = @(Localizer2.WithCulture(new CultureInfo("no")).GetString(() => SampleResources.PageHeader))</div>
</div>

<hr/>

<div>
    HtmlHelper.LabelFor(UserName) - @Html.LabelFor(m => m.UserName)
</div>
<div>
    HtmlHelper.TranslateFor(UserName) - @Html.TranslateFor(m => m.UserName)
</div>
<div>
    HtmlHelper.TranslateFor(UserName, WeirdCustomAttribute) - @Html.TranslateFor(m => m.UserName, typeof(WeirdCustomAttribute))
</div>
<div>
    HtmlHelper.DescriptionFor(UserName) - @Html.DescriptionFor(m => m.UserName)
</div>

<form asp-controller="Home" asp-action="Index" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <fieldset>
        <legend>Address</legend>
        <div>
            <label asp-for="Address.Street"></label>
            <input asp-for="Address.Street" type="password"/>
            <span asp-validation-for="Address.Street"></span>
        </div>
    </fieldset>
    <button type="submit">Submit</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
